.pt-5{
    padding-top: 4rem!important;
}
.pt-4{
    padding-top: 7rem!important;
}

.btn{
    width: auto;
    margin-left: 10px;
}
.card-title{
    font-size: 15px;
}
.img-footer {
    width: 40px;
    border-radius: 100px;
}
span{
    text-decoration: line-through;
}
.fa-bookmark{
    padding-top: 10px;
    float: right;
}
.footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-link h1{
    margin-left: 10px;
    margin-right: 10px;
}